body {
  background-color: rgb(21, 21, 51);
}

h1 {
  color: orangered;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 3em;
}

p {
  margin-left: 3em;
}

p,
a,
ul {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul a {
  color: rgb(45, 218, 97);
}

p a {
  color: crimson;
}

li {
  margin: 2em;
}
