header img {
  height: auto;
}

main {
  position: relative;
  display: flex;
  width: 80vw;
  margin: auto;
  height: auto;
  padding: 2em 0em;
  background-color: transparent;
}

.triche {
  position: relative;
}

main figure {
  width: 80%;
  top: 1em;
  position: absolute;
  transition: ease-in-out 0.3s;
  margin: auto;
}

main figure img {
  margin: auto;
}

footer {
  position: absolute;
  bottom: -30vh;
  width: 100%;
  background-color: #33ccff;
}

footer nav a {
  color: black;
}

.footerTriche {
  position: relative;
}

figcaption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

figcaption p {
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
}

figcaption a {
  position: relative;
  width: 40%;
  background-color: crimson;
  text-align: center;
  padding: 1em 1em 1em 1em;
  color: white;
  border-radius: 10px;
  box-shadow: -15px -15px 0px 0px rgb(0, 0, 0);
  text-decoration: none;
}
figcaption a:active {
  box-shadow: none;
  top: -15px;
  left: -15px;
}

/* .hidden {
  display: none;
  opacity: 0;
} */

.hidden {
  z-index: -1;
  opacity: 0;
}

main figure h1 {
  position: relative;
  top: 0;
  color: crimson;
  font-size: x-large;
  font-weight: bolder;
}

#divInventaire {
  position: fixed;
  top: 20vh;
  right: 0vw;
  width: 15vw;
  text-align: left;
}

#modeTriche {
  position: fixed;
  top: 30vh;
  left: 2vw;
  width: 15vw;
}

#modeTriche a {
  position: relative;
  width: 40%;
  background-color: crimson;
  text-align: center;
  padding: 0.5em;
  color: white;
  border-radius: 10px;
  box-shadow: -15px -15px 0px 0px rgb(0, 0, 0);
  text-decoration: none;
}

#modeTriche a:active {
  box-shadow: none;
  top: -15px;
  left: -15px;
}

#pivot {
  display: none;
}

@media only screen and (max-width: 992px) {
  #modeTriche {
    margin: 0em 1em;
  }
  #modeTriche a {
    display: block;
    width: 60%;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18%;
    border-radius: 0 10px 0 0;
  }

  footer nav {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  figcaption {
    flex-direction: column;
  }

  figcaption a {
    width: 80%;
    margin: 1em;
  }

  #pivot {
    display: block;
    color: red;
    background-color: rgb(0, 0, 0);
    padding: 1em;
  }

  #entete {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 1em;
  }

  #modeTriche {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    font-size: small;
  }

  #divInventaire {
    font-size: small;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    text-align: left;
  }

  #divInventaire h3 {
    margin: 0;
  }

  #divInventaire ul {
    margin: 0;
  }

  main figure {
    top: 7em;
    width: 90%;
  }

  footer {
    width: 30%;
    padding: 0;
    z-index: -1;
  }

  footer nav {
    flex-direction: row;
  }

  footer nav a {
    font-size: x-small;
  }
}
