* {
  box-sizing: border-box;
  vertical-align: top;
  font-family: "Amaranth", sans-serif;
}

body {
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
}

figure {
  width: 100%;
  margin: 0;
}

/* header img {
  height: 30vh;
} */

img {
  width: 100%;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
  /* height: 400px; */
  height: 60vh;
}

.mainTriche {
  display: block;
}

main h1 {
  position: relative;
  top: -15vh;
}

.dessinFantome {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
}

#start {
  position: relative;
  /* margin: 5em 1em 5em 1em; */
  text-decoration: none;
  background-color: crimson;
  padding: 0.5em 1em 0.5em 1em;
  font-size: x-large;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: -15px -15px 0px 0px rgb(0, 0, 0);
}

#start:active {
  box-shadow: none;
  top: -15px;
  left: -15px;
}

footer {
  background-color: tomato;
  /* padding: 1em; */
  /* height: 10vh; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 1em 1em;
}

.flexColonne {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  margin-right: 2em;
}

.flexColonne .text strong {
  color: crimson;
  text-transform: uppercase;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  font-size: x-large;
  font-weight: bolder;
}

.flexColonnetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60vh;
  margin: 0;
  background-color: crimson;
  text-align: center;
  color: white;
}

.flexColonnetext strong {
  color: gold;
  text-transform: uppercase;
}

.auteur {
  color: black;
  margin: 1em;
  font-size: larger;
}

#contenantLiens {
  display: block;
}

#liens {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  height: auto;
  padding: 1em;
}

#liens a {
  position: relative;
  /* margin: 5em 1em 5em 1em; */
  text-decoration: none;
  background-color: crimson;
  padding: 0.5em 1em 0.5em 1em;
  font-size: larger;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: -15px -15px 0px 0px rgb(0, 0, 0);
  margin: 1em;
}

#liens a:active {
  box-shadow: none;
  top: -15px;
  left: -15px;
}

#contenantLiens figure {
  padding-top: 2em;
  width: 15%;
  margin: auto;
}
#apropos {
  flex-direction: column;
}

#apropos div {
  width: 45%;
  text-align: center;
  margin-bottom: 3em;
}

#apropos figure {
  margin-top: 2em;
  width: 15%;
}

/* RESPONSIVE */

@media only screen and (min-width: 992px) {
  header img {
    height: auto;
  }

  .flexColonne h1,
  #start,
  .flexColonnetext p,
  footer {
    font-size: xx-large;
  }
}

/* @media only screen and (min-width: 768px) {
  main {
    background-color: darkslategray;
    height: auto;
    display: block;
  }

  .dessinFantome {
    position: relative;
    width: 100%;
  }

  .flexColonne {
    display: block;
    width: 100%;
    margin: 0;
  }
  .flexColonne h1 {
    position: relative;
    top: 0;
    text-align: center;
  }

  #start {
    margin: 0;
  }

  .flexColonnetext {
    position: relative;
    bottom: 0;
    display: block;
    height: 0;
  }

  footer {
    position: relative;
  }
} */

@media only screen and (max-width: 768px) {
  main {
    display: block;
  }

  .flexColonne {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    margin: 2em;
  }

  #start {
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .dessinFantome {
    position: relative;
    width: 100%;
  }

  main h1 {
    top: -54vh;
    margin: 1em;
  }

  .flexColonnetext {
    position: absolute;
    bottom: -18vh;
    display: block;
    width: 100%;
    height: 22vh;
  }

  footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  main {
    display: flex;
  }

  .flexColonne {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-right: 2em;
  }

  main h1 {
    top: -15vh;
    margin: 0;
  }

  .text {
    font-size: medium;
  }

  #start {
    width: auto;
  }

  .dessinFantome {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
  }

  main h1 {
    margin: 1em;
  }

  .flexColonnetext {
    position: relative;
    bottom: 0;
    display: flex;
    width: 40%;
    height: 60vh;
  }

  .auteur {
    margin: 0;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .flexColonne h1,
  #start,
  .flexColonnetext p {
    font-size: medium;
  }
  main {
    height: auto;
  }
  .flexColonne {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .flexColonne h1 {
    position: relative;
    top: 0;
    text-align: center;
  }

  #start {
    margin: 1em;
  }

  .flexColonnetext {
    position: relative;
    bottom: -10px;
    display: flex;
    height: 200px;
  }

  footer {
    padding: 1em;
  }
}
